<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Published</th>
      <th>By</th>
      <th>Comments</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.created_at %></td>
        <td><%= post.by %></td>
        <td><%= post.comments.size %></td>
        <td><%= link_to 'Show', post %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
