<p id="notice"><%= notice %></p>
  <article>
    <h2>
      <%= @post.title %>
    </h2>

    <h4>
      Posted on <%= @post.created_at %> by <%= @post.by %>
    </h4>

    <section>
      <%= @post.body %>
    </section>
    <% if current_user.try(:admin?) %>
      <%= link_to 'Edit', edit_post_path(@post) %> 
    <% end %>
  </article>

    <% if @post.comments.size > 0 %>
    <h4>Comments</h4>
      <% for comment in @post.comments %>
        <h5><%= comment.by %></h5>
        <h6>on <%= comment.published_on %></h6>
        <section><%= comment.body %></section>
	<hr>
      <% end %>
    <% end %>
    <% if user_signed_in? %>
      <fieldset>
      	<legend>New Comment</legend>
	  <%= form_for [@post, Comment.new] do |f| %>
	  <div class="row">
  	    <div class="large-4 columns"><%= f.text_field :by %></div>
	  </div>

	  <div class="row">
 	    <div class="large-12 columns"><%= f.text_area :body, :rows => 30 %></div>
	  </div>

    	<div class="tiny button"><%= f.submit %></div>
      </fieldset>
       <% end %>
    <% else %>
      <p>Commenters must be <%= link_to 'logged in', new_user_session_path %> to leave comments.</p>
      <p><%= link_to 'Registration', new_user_registration_path %> for new commenters</p>
    <% end %>

