  <article class="post">
    <div class="row">
      <div class="small-11 small-centered columns">
    	  <h2><%= @post.title %></h2>
      </div>
    </div>
	
    <div class="row">
      <div class="small-4 small-offset-8 columns">
        <h6 class="subheader" >
          <%= post_gravatar @post %><br />Posted <%= time_ago_in_words(@post.created_at) %> by <%= link_to @post.by, :email => @post.email %>
        </h6>
      </div>
    </div>

    <div class="row">
      <div class="small-10 small-centered columns">
	<%= markdown(@post.body).html_safe %>
      </div>
    </div>
    <% if current_user.try(:admin?) %>
      <%= link_to 'Edit', edit_post_path(@post) %> 
    <% end %>
    <hr>
  </article>

    <% if @post.comments.size > 0 %>
      <div class="row">
	<div class="small-10 small-centered columns">
	  <h4 class="subheader">Comments</h4>
      	  <% for comment in @post.comments %>
	    <article class="comment">
	      <div class="row">
	        <div class="small-11 small-centered columns">
		    <section><p><%= markdown(comment.body).html_safe %></p>
              	    <h6 class="subheader">Posted <%= time_ago_in_words(comment.published_on) %> by <%= comment.by %> </h6>
		    </section>
	        </div>
    	      </div>
	    </article>
      	  <% end %>
	</div>
      </div>
    <% end %>
    <% if user_signed_in? %>
      <fieldset>
      	<legend>New Comment</legend>
	  <%= form_for [@post, Comment.new] do |f| %>
  	    <%= f.hidden_field :by, :value => current_user.username %>

	    <div class="row">
 	      <div class="small-10 small-centered columns">
		<h6>Use Markdown for formatting</h6>
		<%= f.text_area :body %>
	       </div>
	    </div>

    	    <%= f.submit %>
         <% end %>
      </fieldset>
    <% else %>
      <p>Commenters must be <%= link_to 'logged in', new_user_session_path %> to leave comments.</p>
      <p><%= link_to 'Registration', new_user_registration_path %> for new commenters</p>
    <% end %>

